[submodule "imports/Random-Name-Generator"]
	path = imports/Random-Name-Generator
	url = https://github.com/brend3n/Random-Name-Generator.git
[submodule "imports/myTempEmail-API"]
	path = imports/myTempEmail-API
	url = https://github.com/brend3n/myTempEmail-API.git
[submodule "imports/pymailtm"]
	path = imports/pymailtm
	url = https://github.com/CarloDePieri/pymailtm.git
